{% extends 'base.html '%}
{% block title %} Index {% endblock %}
{% block body %}
<div class="jumbotron text-center">  
      <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-0 col-lg-12 ">
            <div class="col-md-1 col-xs-2 col-sm-0 col-lg-2 "></div>
            <div class="col-md-10 col-xs-8 col-sm-8=12 col-lg-8">

                    <div class="jumbotron"><class=text-primary>

                           <h1>Registration Form</h1>
                             <div class="row ">
        {% if messages %}
            <div class="jumbotron text-primary alert alert-danger text-center">
                {% for message in messages %}
                    <h4>{{ message }}</h4>
                {% endfor %}
            </div>
        {% endif %}
    </div>
                                  <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">

                <label class="control-label col-sm-4" for="first_name">First Name : </label>
                <div class="col-sm-4">
                    <input type="text" name="first_name" class="form-control" id="first_name" required>
                </div>
            </div>
            <div class="form-group">

                <label class="control-label col-sm-4" for="last_name">Surname Name : </label>
                <div class="col-sm-4">
                    <input type="text" name="last_name" class="form-control" id="last_name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="father_name">Father's name : </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="father_name" name="father_name" required>
                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-sm-4" for="roll_num">Roll Number : </label>
                <div class="col-sm-4">
                    <input type="text" name="roll_num" class="form-control" id="roll_num" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="date_of_birth">Date of Birth : </label>
                <div class="col-sm-4">
                    <input type="date" name="date_of_birth" class="form-control" id="date_of_birth" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="phone">Phone Number : </label>
                <div class="col-sm-4">
                    <input type="text" name="phone" class="form-control" id="phone"
                           required>
                </div>
            </div>

            


            <div class="form-group">
                <label class="control-label col-sm-4" for="address">Address : </label>
                <div class="col-sm-4">
                    <input type="text" name="address" class="form-control" id="address" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="email">Email : </label>
                <div class="col-sm-4">
                    <input type="email" name="email" class="form-control" id="email" required>
                </div>
            </div>

            


            <div class="form-group">
                <label class="control-label col-sm-4" for="education">Educational Qualification
                    : </label>
                <div class="col-sm-4">
                    <input type="text" name="education" class="form-control"
                           id="education" required>
                </div>
            </div>

            <div class="col-sm-offset-5 col-sm-6">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>

        </form>
                    </div>
                
           </div>
            <div class="col-md-1 col-xs-2 col-sm-0 col-lg-2"></div>


        </div>


</div> 

{% endblock %}